*{
	padding: 0;
	margin: 0;
	font-family: Roboto;
}

.header{
	
}

.header .logo{
	text-align: center;
}

.header .logo a{
}

.header .logo a img{
	width: 400px;
}

.header .nom{max-width: 427px;margin: auto;
}

.header .menu{
	display: flex;
	margin: auto;
	justify-content: center;
}

.header .menu a{
	text-decoration: none;
	background-color: #f1f1f1;
	padding: 15px;
	color: black;
}

.banner{
	
text-align: center;
}

.banner img{
	width: 100%;
}

.presentation{
	background-color: #f9f9f9;
	padding: 25px;
	margin: auto;
	width: 90%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.38);
}

.presentation h2{
	
}

.presentation img{
	
}

.actu{
	background-color: #f9f9f9;
	padding: 25px;
	margin: auto;
	width: 90%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.38);
}

.TabCours{
	
text-align: center;
	
/* margin: auto; */
	
/* width: 580px; */
}

.TabCours table{
	
}

.TabCours table caption{
	
}

.TabCours table tr{
	
background-color: #f1f1f1;
}

.TabCours table tr th{
	
width: 14%;
	
background-color: #f1f1f1;
	
padding: 20px;
}

.TabCours table tr td{
	
padding: 20px;
	
box-shadow: 0 0px 0px black;
}

.footer{
	background-color: rgba(0, 0, 0, 0.95);
	color: #989898;
	padding: 10px;
}

.footer .menu{
	
}

.footer .menu a{
	text-decoration: none;
	color: white;
	padding: 0 5px 0 5px;
}

.footer .nom{
	margin-top: 10px;
}

.footer .copy{
}


.split{
	height: 33px;
}



















